:root {
  --primary: #2bcfcf;
  --map: url("https://i.natgeofe.com/n/98751b6c-db3e-48d7-a70f-97070eb411bd/62009.jpg?w=1280&h=853");
  --background: #303030;
  --text: #cecdcd;
  --error: var(--primary);
}

html {
  background: var(--background);
}
