@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

.error-message {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  color: var(--error);
  background: var(--background);
  z-index: 10000000;
  font-family: "Raleway", sans-serif;
  padding: 10px;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0.5px solid var(--error);
  transition: 0.5s;
  text-align: center;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 600px) {
  .error-message {
    font-size: 16px;
  }
}

.error-message.hide {
  opacity: 0;
}
