:root {
  --primary-light-100: #000000;
  --primary-light-200: #000000;
  --primary-light-300: #000000;
  --primary-light-400: #000000;
  --primary-light-500: #000000;
  --primary-light-600: #000000;
  --primary-dark-100: #000000;
  --primary-dark-200: #000000;
  --primary-dark-300: #000000;
  --primary-dark-400: #000000;
  --primary-dark-500: #000000;
  --primary-dark-600: #000000;
  --secondary-light-100: #000000;
  --secondary-light-200: #000000;
  --secondary-light-300: #000000;
  --secondary-light-400: #000000;
  --secondary-light-500: #000000;
  --secondary-light-600: #000000;
  --secondary-dark-100: #000000;
  --secondary-dark-200: #000000;
  --secondary-dark-300: #000000;
  --secondary-dark-400: #000000;
  --secondary-dark-500: #000000;
  --secondary-dark-600: #000000;
  --tertiary-light-100: #000000;
  --tertiary-light-200: #000000;
  --tertiary-light-300: #000000;
  --tertiary-light-400: #000000;
  --tertiary-light-500: #000000;
  --tertiary-light-600: #000000;
  --tertiary-dark-100: #000000;
  --tertiary-dark-200: #000000;
  --tertiary-dark-300: #000000;
  --tertiary-dark-400: #000000;
  --tertiary-dark-500: #000000;
  --tertiary-dark-600: #000000;
}