:root {
  --vh: calc(100vh / 100);
}

.fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.fadeOut {
  animation: fadeOut 1s ease-in-out;
}

.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  grid-template-rows: auto 55px 1fr;
  background-image: var(--map);
  background-size: cover;
  animation: fadeIn 0.5s ease-in-out;
}

.background-overlay {
  background: rgb(40, 40, 40, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3;
  width: 100%;
  height: 100%;
  /* background: rgb(40, 40, 40, 0.6); */
  z-index: 0;
  animation: fadeIn 0.3s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  /* background: red; */
}

.header {
  /* grid-row: 1; */
  /* width: 100%; */
  width: auto;
  /* height: 100px; */
  background: var(--background);
  /* border-bottom: 1px solid black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  /* transition: 0.3s; */
  margin: 10px;
  border-left: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
  /* border-radius: 0px 5px 5px 0px; */
  z-index: 200;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header[data-menu="close"] {
  height: 0px;
  overflow: hidden;
  padding: 0px;
}

.stats {
  /* grid-row: 2; */
  z-index: 101;
  background: var(--background);
  /* width: 100%; */
  font-size: 15px;
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  border-left: 1px solid var(--primary);
  border-radius: 0px 5px 5px 0px;
}

.adaptable-row {
  grid-row: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  margin: 10px;
  margin-top: 0px;
  position: relative;
  height: 52px;
  row-gap: 10px;
  /* background: red; */
  /* overflow: hidden; */
}

.stat {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-size: 18px;
  color: var(--text);
}

.stat .icon {
  font-size: 20px;
  margin-top: 2px;
  color: var(--primary);
}

.stat .icon img {
  /* width: 20px; */
  height: 20px;
}

.stat .icon svg {
  color: var(--primary);
}

.algorithmInfo {
  float: left;
  width: 90%;
  height: auto;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.seperator {
  width: 5px;
  height: 5px;
  background: var(--background);
  margin-inline: 10px;
  border-radius: 50%;
  float: left;
}

.info {
  color: var(--text);
  float: left;
  margin: 10px;
  margin-inline: 20px;
}

/* Button Styles */
button {
  outline: none;
  background: transparent;
  color: var(--primary);
  border: none;
  padding: 10px;
  float: left;
}

button:hover {
  cursor: pointer;
  background: var(--primary);
  color: white;
}

.buttonGroup.settings button {
  padding: 5px;
}

.buttonGroup.themes button img,
.buttonGroup.themes button svg {
  height: 100%;
  object-fit: cover;
  border-width: 2px;
}

.buttonGroup.settings button svg {
  font-size: 18px;
  margin-top: 2px;
}

.run {
  width: 100px;
  height: 40px;
  /* background: var(--primary); */
  border: 2px solid var(--primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  border-radius: 5px;
}

.run .icon {
  margin-left: 8px;
}

.optionTitle {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.2mm;
  color: rgba(255, 255, 255, 0.6);
  grid-row: 1;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.optionContent {
  grid-row: 2;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.option {
  display: flex;
  flex-direction: column;
  display: grid;
  height: 100px;
  float: left;
  margin-inline: 20px;
  grid-template-rows: 1.2fr 2fr;
}

.option button {
  margin: 5px;
  border-radius: 5px;
  min-width: 50px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

.headerClose {
  width: 100%;
  float: left;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: rgba(255, 255, 255, 0.7);
  display: none;
  background: rgb(50, 50, 50);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.buttonGroup {
  height: 35px;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.buttonGroup button {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin: 0px;
}

.buttonGroup.themes button:hover {
  background: transparent;
  border-width: 1px;
}

.buttonGroup img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
}

button[data-active="true"] {
  background: transparent;
  border: 1px solid var(--primary) !important;
  color: var(--primary) !important;
}

.helpButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-left: none;
  border-right: 1px solid var(--primary);
  border-radius: 0;
  background: var(--background);
  z-index: 300;
  position: absolute;
  right: 10px;
  bottom: 10px;
  /* color: rgb(255, 255, 255, 0.6) !important; */
}

.helpButton:hover {
  background: var(--primary);
  color: white;
  border-radius: 0 !important;
}

.flex-seperator-horizontal {
  flex-grow: 1;
}

.helpButton svg {
  font-size: 12px;
  transform: scaleX(-1);
  color: rgb(255, 255, 255, 0.6) !important;
}

.infoButton {
  position: relative;
  margin-left: 5px;
  border-radius: 50%;
  background: rgba(255, 166, 0, 0.623);
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.infoContent {
  display: none;
  position: absolute;
  width: clamp(200px, 90vw, 400px);
  height: auto;
  background: rgb(40, 40, 40);
  padding-inline: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transform: translate(0, calc(50% + 20px));
  z-index: 100;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  letter-spacing: 0.1mm;
}

.infoButton:hover .infoContent {
  display: block;
}

.helpButton:hover,
.infoButton:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 30%;
}

.flex-seperator {
  flex-basis: 100%;
  height: 15px;
}

.mobile-dropdown {
  display: none;
}

/* Dropdown */

.Dropdown-root {
  background: transparent;
}

.Dropdown-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.Dropdown-control {
  background: transparent;
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.Dropdown-menu {
  background: transparent;
  border: 1px solid rgb(255, 255, 255, 0.1);
  background: rgb(40, 40, 40);
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  max-height: 100vh;
}

.Dropdown-option {
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 10px;
  border-radius: 5px;
  transition: 0.3s;
  margin: 3px 0px;
}

.Dropdown-option.is-selected {
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
}

.Dropdown-option:hover {
  background: var(--primary);
  color: rgba(255, 255, 255, 0.8);
}

.is-open .Dropdown-control {
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.history-buttons {
  display: flex;
  /* position: absolute; */
  /* left: 15px;
  bottom: 15px; */
  flex-direction: row-reverse;
  gap: 10px;
  z-index: 100;
  flex-wrap: wrap;
  /* width: calc(100% - 30px); */
  background: var(--background);
  border-right: 1px solid var(--primary);
  /* margin-right: 10px; */
  border-radius: 5px 0px 0px 5px;
}

.history-buttons button {
  background: transparent;
  color: var(--primary);
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  padding: 10px;

  /* border-radius: 5px; */
  text-align: left;
  animation: fadeDown 1s ease-in-out;
  transition: 0.3s;
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.history-buttons button:hover {
  /* background: var(--primary);
  color: white; */
  border-radius: 0px;
}

.history-buttons .algorithm-name {
  font-size: 12px;
  transition: 0.3s;
}

.history-buttons .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-top: 2px;
  transition: 0.3s;
}

.history-buttons .distance {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.history-buttons .points {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.history-buttons .point-icon {
  /* width: 12px; */
  height: 9px;
  margin-left: 3px;
}

.history-buttons .run {
  display: flex;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 0%);
  border: none;
  transition: 0.3s;
  opacity: 0;
}

.history-buttons button:hover > .run {
  transform: translate(50%, -50%);
  opacity: 1;
}

.history-buttons button:hover > .row,
.history-buttons button:hover > .algorithm-name {
  transform: translateY(-100%);
  opacity: 0;
}

.history-buttons button.clear-history {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  gap: 2px;
  padding-inline: 15px;
}

.clear-history svg {
  font-size: 14px;
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.6) !important;
  transition: 0.3s ease-in-out;
}

.clear-history:hover > svg {
  transform: rotate(90deg);
}

/* src/App.css */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.pulse {
  animation: pulse 1s ease-in-out;
}

.run-option button {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.run-option .icon {
  color: var(--primary);
}

.run-option button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.bottom-run {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--background);
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
  overflow: hidden;
}

.bottom-run button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.bottom-run .disabled {
  opacity: 0.4;
  color: rgba(255, 255, 255, 0.6);
  transform: scale(0.9);
  pointer-events: none;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .container {
    grid-template-rows: auto 1fr auto;
  }
  .stats {
    width: calc(100vw);
    margin: 0;
    height: auto;
    gap: 5px;
    border-radius: 0px;
    border: none;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .stat {
    padding: 8px;
  }
  .screen {
    grid-row: 2;
  }
  .adaptable-row {
    grid-row: 3;
    height: auto;
    flex-direction: row-reverse;
    margin: 0;
    width: 100vw;
    border-top: 1px solid var(--primary);
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    border: none;
    position: relative;
    /* border-bottom: 1px solid var(--primary); */
  }
  .mobile-selector {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .mobile-options {
    display: none;
  }
  .algorithm-option {
    margin: 0;
  }
  .algorithm-option .Dropdown-control {
    width: 250px;
  }
  .run-option {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--primary);
  }
  .run-option button {
    border-radius: 2px;
    margin-bottom: 19px;
    height: 36px;
  }
  .mobile-dropdown {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-basis: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--primary);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .mobile-dropdown.open {
    border-bottom: none;
  }
  .mobile-options.open {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: calc(100%);
    width: 100vw;
    background: rgb(40, 40, 40);
    border-bottom: 1px solid var(--primary);
  }
  .history-buttons {
    display: none;
  }
  .points-option {
    display: none;
  }
}

@media (max-width: 1620px) {
  .option {
    margin-inline: 15px;
  }
}

@media (max-width: 1550px) {
  .option {
    margin-inline: 10px;
  }
}

@media (max-width: 1480px) {
  .option {
    margin-inline: 10px;
  }
  .run-option {
    display: none;
  }
  .bottom-run {
    display: flex;
  }
}

@media (max-width: 1230px) {
  .option {
    margin-inline: 20px;
  }
}

@media (max-width: 800px) {
  .bottom-run {
    display: none;
  }
  .run-option {
    display: grid;
  }
  .helpButton {
    display: none;
  }
  .mobile-selector {
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
}

@media (max-width: 500px) {
  button.disabled {
    display: none !important;
  }
}

@media (max-width: 440px) {
  .mobile-selector {
    gap: 10px;
  }
  .mobile-selector .option {
    margin-inline: 0px;
  }
}
